body {
    font-family: 'Roboto Slab', serif;
    background-color: #449c90;
}

main {
    padding: 40px
}

.nav-link {
    color: white;
    font-size: 20px;
    align-items: right;
}

.nav-link:hover {
    color: #4c8bf1;
}

.blogBox {
    margin-top: 8px;
    border: solid;
    background-color: white;
    border-radius: 25px;
    border-color: white;
  }

.blogDesc {
    border-style: solid;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 5px;
    padding: 2px;
  }
  
.blogCreate {
    font-weight: bold;
    font-style: italic;
    padding: 5px;
}
  
.blogBoxCont {
    margin-top: 10px;
    border-radius: 25px;
    background-color: white;
    border-style: solid;
}
  
.formCont {
    margin-top: 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
  
  
.commentCont {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 75%;
}
  
.commentOwner {
    font-size: 14px;
}
  
.btnComment {
    margin-top: 10px;
}
  
.commentText {
    font-weight: bold;
    padding-top: 10px;
}
  
.commentCont {
    background-color: #c29ef8;
    border-style: solid;
    border-radius: 25px;
}
  
.headerRow {
    margin-bottom: 10px;
}
  
.form-group{
    margin-top: 10px;
}

.login-form {
    max-width: 50%;
}

.signup-form {
    max-width: 50%;
}